.page {
    display: flex;
    flex-direction: column;
    background-color: #2A2C2F;
    max-width: 1280px;
    min-width: 320px;
    min-height: 100vh;
    margin: 0 auto;
    color: #FFF;
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
}