.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

@media screen and (max-width:1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
        padding: 0 48px;
    }
}

@media screen and (max-width:768px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        padding: 0 24px;
    }
}

@media screen and (max-width:320px) {
    .photo-grid {
        grid-template-columns: fit-content(288px);
        gap: 12px;
        padding: 0 16px;
    }
}