.places {
    display: grid;
    grid-row-gap: 80px;
    padding: 0 148px;
}

@media screen and (max-width:1024px) {
    .places {
        padding: 0 48px;
    }
}

@media screen and (max-width:768px) {
    .places {
        grid-row-gap: 73px;
        padding: 0 24px;
    }
}

@media screen and (max-width:320px) {
    .places {
        grid-row-gap: 50px;
        padding: 0;
    }
}