.header__links {
    display: flex;
    flex-direction: row;
    margin-top: 21px;
    justify-content: space-between;
}

@media screen and (max-width:320px) {
    .header__links {
        margin-top: 15px;
    }
}