.intro__list {
    margin: 16px 0 0;
    padding: 0;
    max-width: 690px;
    list-style-type: none;
}

@media screen and (max-width:768px) {
    .intro__list {
        max-width: 720px;
    }
}

@media screen and (max-width:320px) {
    .intro__list {
        margin: 17px 0 0;
        max-width: 288px;
    }
}