.intro__list {
    margin-top: 33px;
    padding: 0;

}

@media screen and (max-width:768px) {
    .intro__list {
        max-width: 720px;
    }
}

@media screen and (max-width:320px) {
    .intro__list {
        margin-top: 34px;
        max-width: 288px;
    }
}