.cover__subtitle {
font-family: 'Inter', Arial, sans-serif;
font-size: 18px;
line-height: 22px;
text-align: center;
margin: 16px 0 0;
padding: 0;
max-width: 360px;
}

@media screen and (max-width:520px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 288px;
    }
}

@media screen and (max-width:320px) {
    .cover__subtitle {
            margin: 8px 0 0;
    }
}