.page__content {
    margin: 56px 0 92px;
}

@media screen and (max-width:1024px) {
    .page__content {
        margin: 48px 0 92px;
    }
}

@media screen and (max-width:768px) {
    .page__content {
        margin: 48px 0 88px;
    }
}

@media screen and (max-width:320px) {
    .page__content {
        margin: 48px 0 64px;
    }
}