.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 52px;
    max-width: 1184px;
    padding: 28px 48px 0;

}

@media screen and (max-width:1024px) {
    .header {
        max-width: 928px;
    }
}

@media screen and (max-width:768px) {
    .header {
        padding: 28px 24px 0;
        max-width: 720px;
    }
}

@media screen and (max-width:320px) {
    .header {
        min-height: 42px;
        padding: 16px 16px 0;
        max-width: 288px;
    }
}