.lead__title {
margin: 0 0 16px;
padding: 0;
align-self: center;
font-family: 'Inter';
font-weight: 900;
font-size: 96px;
line-height: 100px;
text-align: center;
max-width: 720px;
}

@media screen and (max-width:1024px) {
    .lead__title {
        margin: 0 0 16px;
    }
}

@media screen and (max-width:700px) {
    .lead__title {
        font-size: 70px;
        line-height: 76px;
        max-width: 570px;
    }
}

@media screen and (max-width:500px) {
    .lead__title {
        font-size: 45px;
        line-height: 49px;
        max-width: 340px;
    }
}

@media screen and (max-width:320px) {
    .lead__title {
        margin: 0 0 8px;
        font-size: 40px;
        line-height: 44px;
        max-width: 288px;
    }
}