.place__paragraph {
margin: 0;
padding: 0;
font-family: 'Inter', Arial, sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 29px;
max-width: 484px;
margin-bottom: 26px;
}

.place__paragraph:last-child {
    margin-top: 0;
}

@media screen and (max-width:1024px) {
    .place__paragraph {
        max-width: 456px;
        margin-bottom: 27px;
    }
}

@media screen and (max-width:768px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
        max-width: 352px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width:450px) {
    .place__paragraph {
        font-size: 14px;
        line-height: 22px;
        max-width: 288px;
    }
}

@media screen and (max-width:370px) {
    .place__paragraph {
        font-size: 10px;
        line-height: 16px;
        max-width: 150px;
    }
}

@media screen and (max-width:320px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
        margin: 0 16px;
    }
}