.footer__copyright {
margin: 0;
padding: 0;
font-family: 'Inter';
font-size: 14px;
line-height: 16px;
text-align: right;
color: #FFFFFF;

}

@media screen and (max-width:700px) {
    .footer__copyright {
        text-align: start;
        margin: 48px 0 0;
    }
}