.intro {
    display: flex;
    flex-direction: column;
    padding: 0 148px;
}

@media screen and (max-width:1024px) {
    .intro {
        padding: 0 48px;
    }
}

@media screen and (max-width:768px) {
    .intro {
        padding: 0 24px;
    }
}

@media screen and (max-width:320px) {
    .intro {
        padding: 0 16px;
    }
}