.website__url-heading {
    color: #AAAAAA;
}

@media screen and (max-width:768px) {
    .website__url-heading {
        line-height: 12px;
    }
}

@media screen and (max-width:320px) {
    .website__url-heading {
        margin: 0 0 0 16px;
    }
}