.lead__subtitle {
margin: 16px 0 64px;
padding: 0;
align-self: center;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
text-align: center;
color: #FFFFFF;
max-width: 640px;
}

@media screen and (max-width:1024px) {
    .lead__subtitle {
        margin: 16px 0 56px;
    }
}

@media screen and (max-width:700px) {
    .lead__subtitle {
        font-size: 22px;
        line-height: 27px;
        max-width: 470px;
    }
}

@media screen and (max-width:500px) {
    .lead__subtitle {
        font-size: 14px;
        line-height: 17px;
        max-width: 300px;
    }
}

@media screen and (max-width:320px) {
    .lead__subtitle {
        margin: 8px 0 20px;
        font-size: 16px;
        line-height: 20px;
        max-width: 288px;
    }
}