.place__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
    max-width: fit-content;
    color: #FFF;
    margin: 12px 0 0;
    padding: 0;
    }
    
    .place__link:hover {
        opacity: 0.8;
    }
    
    @media screen and (max-width:620px) {
        .place__link {
            font-size: 7px;
            line-height: 7px;
        }
    }
    
    @media screen and (max-width:320px) {
        .place__link {
            font-size: 18px;
            line-height: 22px;
            margin: 12px 0 0 16px;
        }
    }