.website_link {
    margin: 0px 0px 12px;
    padding: 0;
    }
    
    .website_link:hover:nth-child(2) {
        opacity: 0.8;
    }
    
    .website_link:nth-child(2) {
        font-size: 18px;
        line-height: 22px;
        text-decoration-line: underline;
        color: #FFFFFF;
        margin: 0px;
    }
    
    @media screen and (max-width:768px) {
        .website_link {
            line-height: 12px;
        }
    }
    
    @media screen and (max-width:620px) {
        .website_link:nth-child(2) {
            font-size: 7px;
            line-height: 7px;
        }
    }
    
    @media screen and (max-width:320px) {
        .website_link {
            margin: 0px 0px 0px 16px;
        }
    
        .website_link:nth-child(2) {
            font-size: 12px;
            line-height: 12px;
            margin: 12px 0px 0px 16px;
        }
    }