.website__link {
color: #FFFFFF;
margin: 0px;
font-size: 18px;
line-height: 22px;
text-decoration-line: underline;
}

.website__link:hover {
opacity: 0.8;
}

@media screen and (max-width:620px) {
    .website__link {
        font-size: 7px;
        line-height: 7px;
    }
}

@media screen and (max-width:320px) {
.website__link {
font-size: 18px;
line-height: 22px;
}
}