.place {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 460fr 484fr;
    gap: 48px 40px;
}

@media screen and (max-width:1024px) {
    .place {
        grid-template-columns: 440fr 456fr;
        gap: 48px 32px;
    }
}

@media screen and (max-width:768px) {
    .place {
        grid-template-columns: 340fr 352fr;
        gap: 48px 28px;
    }
}

@media screen and (max-width:320px) {
    .place {
        grid-template-columns: 320px;
        gap: 32px;
    }
}