.footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0;
}

@media screen and (max-width:700px) {
    .footer {
        flex-direction: column;
    }
}