.photo-grid__image {
    object-fit: cover;
    max-width: 284px;
    width: 100%;
}

@media screen and (max-width:1024px) {
    .photo-grid__image {
        max-width: 300px;
    }
}

@media screen and (max-width:768px) {
    .photo-grid__image {
        max-width: 352px;
    }
}

@media screen and (max-width:320px) {
    .photo-grid__image {
        max-width: 288px;
    }
}