.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

@media screen and (max-width:700px) {
    .footer {
        flex-direction: column;
        justify-content: start;
    }
}