.page__footer {
box-sizing: border-box;
margin: 0 48px 24px;
width: 100vw;
}

@media screen and (max-width:768px) {
    .page__footer {
        margin: 0 24px 24px;
    }
}

@media screen and (max-width:700px) {
    .page__footer {
        margin: 0 118px 24px 16px;
    }
}