.intro__title {
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 54px;
line-height: 58px;
max-width: 690px;
margin: 0;
padding: 0;
}

@media screen and (max-width:1024px) {
    .intro__title {
    max-width: 720px;
    }
}

@media screen and (max-width:450px) {
    .intro__title {
    font-size: 38px;
    }
}

@media screen and (max-width:320px) {
    .intro__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    }
}